[Desktop Entry]
Type=Application
Encoding=UTF-8
Terminal=false
Name=RESTClient
Icon=restclient.png
GenericName=RESTClient
Comment=REST Service Testing
Exec=run.wrapper
Categories=Development
