[Desktop Entry]
Type=Application
Encoding=UTF-8
Terminal=false
Name=DBeaver
Icon=dbeaver
GenericName=DBeaver
Comment=Database Client
Exec=run.wrapper
Categories=Development
