[Desktop Entry]
Type=Application
Encoding=UTF-8
Terminal=false
Name=My Application
Icon=myapp.png
GenericName=My Application
Comment=My first Java AppImage Application
Exec=run.wrapper
Categories=Development
