[Desktop Entry]
Type=Application
Encoding=UTF-8
Terminal=false
Name=KeystoreExplorer
Icon=kse
GenericName=KeystoreExplorer
Comment=Keystore File Manager
Exec=run.wrapper
Categories=Development
