/jdk/
/TableLayout-20050920.jar
/antlr-2.7.7.jar
/antlr-runtime-3.3.jar
/avalon-framework-api-4.3.1.jar
/avalon-framework-impl-4.3.1.jar
/batik-anim-1.7.jar
/batik-awt-util-1.7.jar
/batik-bridge-1.7.jar
/batik-css-1.7.jar
/batik-dom-1.7.jar
/batik-ext-1.7.jar
/batik-extension-1.7.jar
/batik-gvt-1.7.jar
/batik-js-1.7.jar
/batik-parser-1.7.jar
/batik-script-1.7.jar
/batik-svg-dom-1.7.jar
/batik-svggen-1.7.jar
/batik-transcoder-1.7.jar
/batik-util-1.7.jar
/batik-xml-1.7.jar
/bcmail-jdk14-1.38.jar
/bcmail-jdk14-138.jar
/bcprov-jdk14-1.38.jar
/bcprov-jdk14-138.jar
/bctsp-jdk14-1.38.jar
/commons-beanutils-1.8.3.jar
/commons-codec-1.10.jar
/commons-io-1.3.1.jar
/commons-jexl-2.1.1.jar
/commons-lang-2.4.jar
/commons-logging-1.1.1.jar
/docx4j-3.2.2.jar
/dom4j-1.6.1.jar
/fop-1.1.jar
/geronimo-stax-api_1.0_spec-1.0.jar
/guava-17.0.jar
/itext-2.1.7.jar
/itext-rtf-2.1.7.jar
/itextpdf-5.0.6.jar
/jackson-annotations-2.3.0.jar
/jackson-core-2.3.0.jar
/jackson-databind-2.3.0.jar
/jaxb-svg11-1.0.2.jar
/jaxb-xmldsig-core-1.0.0.jar
/jaxb-xslfo-1.0.1.jar
/jcalendar-1.3.2.jar
/jcl-over-slf4j-1.7.5.jar
/jcommon-1.0.15.jar
/jdic-1.0-20060308.jar
/jdic-linux-x86-1.0-20060308.jar
/jdic-windows-x86-1.0-20060308.jar
/jersey-client-1.18.jar
/jersey-core-1.18.jar
/jfreechart-1.0.12.jar
/jgoodies-common-1.4.0.jar
/jgoodies-looks-2.5.2.jar
/jofc2-1.0.1.jar
/json-20090211.jar
/jxlayer-4.0.jar
/l2fprod-common-fontchooser-7.3.jar
/l2fprod-common-sheet-7.3.jar
/log4j-1.2.14.jar
/mbassador-1.1.10.jar
/mydoggy-api-1.5.0-beta-r1389.jar
/mydoggy-plaf-1.5.0-beta-r1389.jar
/mydoggy-res-1.5.0-beta-r1389.jar
/nextreports-designer-9.1.jar
/nextreports-engine-9.1.jar
/nextreports-server-client-9.1.jar
/poi-3.7.jar
/poi-ooxml-3.7.jar
/poi-ooxml-schemas-3.7.jar
/poi-scratchpad-3.8.jar
/serializer-2.7.1.jar
/slf4j-api-1.7.5.jar
/slf4j-log4j12-1.7.5.jar
/spy-1.0.5.jar
/stax-api-1.0.1.jar
/stringtemplate-3.2.1.jar
/swingx-action-1.6.5-1.jar
/swingx-autocomplete-1.6.5-1.jar
/swingx-common-1.6.5-1.jar
/swingx-core-1.6.5-1.jar
/swingx-graphics-1.6.5-1.jar
/swingx-painters-1.6.5-1.jar
/swingx-plaf-1.6.5-1.jar
/transform-1.0.jar
/winstone-lite-0.9.10.jar
/wmf2svg-0.9.0.jar
/xalan-2.7.1.jar
/xml-apis-1.3.04.jar
/xml-apis-ext-1.3.04.jar
/xmlbeans-2.3.0.jar
/xmlgraphics-commons-1.5.jar
/xmlpull-1.1.3.1.jar
/xpp3_min-1.1.4c.jar
/xstream-1.4.7.jar
/jdbc-drivers/
