[Desktop Entry]
Type=Application
Encoding=UTF-8
Terminal=false
Name=GPlus
Icon=GPlus
GenericName=GPlus
Comment=Google Plus News Feeds
Exec=run.wrapper
Categories=GNOME;GTK;Network;WebBrowser;
