[Desktop Entry]
Type=Application
Encoding=UTF-8
Terminal=false
Name=jNetMap
Icon=jnetmap
GenericName=jNetMap
Comment=Network Design and Mapping Tool
Exec=run.wrapper
Categories=Development
